.book-container-wrapper {
    position: relative;
    top: 80px;
    -moz-box-sizing: border-box;
}

.closed-message-wrapper {
    left: 0;
    position: absolute;
    width: 100%;
    height: calc(100vh - 122px);
    background-color: lightgray;

}

.closed-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

@-moz-document url-prefix() {
  .book-container-wrapper {
      top: 38px;
      border: 1px solid black;
      -moz-box-sizing: border-box;
  }
}