#email-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 24px;
}

#email-overlay {
    z-index: 2;
    background: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
}

#email-form-container{
    position: relative;
    border-radius: 10px;
    z-index: 3;
    margin: 100px auto 0px auto;
    width: 70%;
    max-width: 600px;
    height: 450px;
    background: white;
    color: #000;
    overflow: hidden;
}

.email-form {
    margin-top: 20px;
    background: white;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.email-form input {
    background: #eee;
    border: 1px solid grey;
    padding: 12px;
    margin: 10px;
    width: 25%;
}

.email-form select {
    background: #eee;
    border: 1px solid grey;
    padding: 12px;
    width: 25%;
    margin: 10px;
}


.last-reservation {
    animation: pulse 2s;
    animation-iteration-count: 5
}

@keyframes pulse {
    0% {
        background-color: #d0cfcf;
    }
    50% {
        background-color: #c0b339;
   }
    100% {
        background-color: #c8c7c7;
    }
}
