

.time-party-size {
    justify-content: space-between;
}

.reservation-card {
    padding: 10px;
    width: available;
    background-color: aliceblue;
}

.reservation-card:hover {
    background-color: lightgrey;
    transition: all 0.3s ease 0s;
}


textarea.notes {
    width: 39%;
    height: 100px;
    background: #eee;
    border: 1px solid grey;
    padding: 12px;
    margin: 10px;
}

/*#wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 24px;
}*/

table {
    width: 100%;
}

th {
    text-align: left;
    background-color: darkgrey;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

tr:hover {
    background-color: lightgrey;
    transition: all 0.3s ease 0s;
}

h2 {
    margin-bottom: 20px;
}

#close {
    margin-left: 97%;
}

.submit-button {
    margin: 0 auto;
}