.guest-info-container {
    text-align: center;
}

.guest-info-container h3 {
    padding: 20px;
}

.guest-info-container input {
    padding: 10px;
    margin: 10px;
}
.guest-info-container textarea {
    padding: 10px;
    width: 470px;
    height: 100px;
}

.guest-history-item-container {
    padding: 30px;
    background-color: white;
    width: 600px;
    margin: 0 auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding-bottom: 60px;
    margin-top: 15px;
    border-radius: 10px;
}

.guest-info-sub-container {
    padding: 10px;
    background-color: white;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding-bottom: 60px;
    margin-top: 15px;
    border-radius: 10px;

}

.guest-history-item {
    font-size: 15px;
    padding: 20px;
    height: 12px;
}

.guest-history-item span{
    padding: 20px;
    height: 14px;
}

.guest-info-form-input {
    width: 131px;
}

.guest-info-form-input-text-box textarea {
    width: 433px;
}