
#wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 24px;
}

#overlay {
    z-index: 2;
    background: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
}

#reservation-form-container{
    position: relative;
    border-radius: 10px;
    z-index: 3;
    margin: 100px auto 0px auto;
    width: 50%;
    height: 65%;
    background: white;
    color: #000;
    overflow: hidden;
}

.reservation-form {
    margin-top: 20px;
    opacity: 100%;
    background: white;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-box input {
    width: 60%;
    text-align: center;
}

#close {
    margin-left: 97%;
}

.submit-button {
    margin: 0 auto;
}