tr {
    height: 20px;
}

td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

td#time {
    width: 100px;
    text-align: center;
}

#party-size {
    width: 20px;
    text-align: center;
}

#first-name {
    width: 150px;
}

#last-name {
    width: 150px;
}

#phone-number {
    width: 200px;
    white-space: nowrap;
    overflow:hidden;
}

#reservation-notes {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}

#guest-notes {
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#status {
    width: 90px;
    white-space: nowrap;
    overflow:hidden;
}

/*.header-title-bar {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*}*/