* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: calc(100vh - 80px);
}

/*.container {*/
/*    display: none;*/
/*}*/


/*.social-links {*/
/*    display: none;*/
/*}*/

/*.floorplan-container {*/
/*    height: 100%;*/

/*}*/